/* Tela Inicial */

body {
    background-image: url(img/galaxia-noturna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: scroll;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    margin-right: 20%;
    filter: invert(80%);
    height: 72px;
}

.nav {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    padding: 1em;
    color: white;
}

.nav-ul {
    justify-content: end;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    color: white;
}

.nav-ul li {
    margin: 0 1em;
}

.button {
    color: white;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.loginbutton {
    opacity: 0.6;
    transition: padding 0.3s;
    border-radius: 5px;
    box-shadow: 0px;
    padding: 0.8em;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.loginbutton:hover {
    padding: 0.9em;
    opacity: 1;
    box-shadow: 0 0 6px #fff;
}

/*  Tela de Conteúdos  */

.card {
    justify-content: flex-end;
    margin: 0;
}

.button-card {
    opacity: 0.6;
    transition: padding 0.3s;
    border-radius: 5px;
    box-shadow: 0px;
    padding: 0.8em;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
}

.button-card:hover {
    opacity: 1;
    box-shadow: 0 0 6px #fff;
}

.section-conteudo {
    border-top: 0.4px solid #FFF2E7;
}

.cards {
    flex-direction: row;
    padding: 5%;
    justify-content: center;
    display: flex;
}

.titulo-conteudo {
    padding-top: 1%;
    align-items: center;
    justify-content: center;
    font-family: 'Trispace', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}